body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#password-container, #letter-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjust max-width as needed */
    margin: 20px; /* Add margin to create space from edges */
}

input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    margin-bottom: 20px;
}

#letter {
    font-family: 'El Messiri', Arial, sans-serif; /* Apply El Messiri font */
}
#letter-container.show {
    opacity: 1;
}

#letter-container h1 {
    color: #FF69B4;
}

#letter-container p {
    transition: opacity 2s ease-in-out 1s;
}
